<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Not finding something that fits your needs? <a href="#contact" class="page-scroll">Get in touch!</a></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-snowflake-o-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">What is Snow?</h4>
                    <p class="text-muted">For total beginners. We will start with how we strap on our plank and balance on our boards!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Private Lesson</h4>
                    <p class="text-muted">You, me, and a friend or 2 learning or improving our ride.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Group Lesson</h4>
                    <p class="text-muted">Your lingo already tells me you're definitely experienced. Let's ride the mountain and see how you can improve.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tune up</h4>
                    <p class="text-muted">Have you developed some bad habits or need small tweaks to your ride?</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Bootcamp</h4>
                    <p class="text-muted">Dial in on the tecnique; advance multiple levels with repeat lessons!</p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-ambulance fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Terrain Park</h4>
                    <p class="text-muted">Ready to catch some big air?</p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Espanol</h4>
                    <p class="text-muted">Prefieres en espanol?</p>
                </div>
            </div>
        </div>
    </section>